{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Password resetting confirmation</h3>
                    <p>We've emailed you instructions for setting your new password. Please check your email box or spam folder. If you do not receive an email, please make sure you've entered address you registered. </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}